<div class="center jumbotron">
  <h1>Data Abstraction Assistant</h1>

  <h2>
    This is the home page for the
    <a href="http://daa.infalliblekitty.com/">Data Abstraction Assistant</a>
    application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
