Hi <%= @user.name %>,

Welcome to the Data Abstraction Assistant App! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
