<%= render 'shared/error_messages', object: f.object %>

<div class="form-inputs">
  <%= f.association :document_store, collection: current_user.document_stores %>
  <%= f.input :name %>
  <%= f.input :description %>
</div>
<span class="file">
  <%= f.file_field :file, accept: 'application/pdf' %>
</span>

<div class="form-actions">
  <%= f.button :submit, class: "btn btn-primary" %>
</div>

<script type="text/javascript">
  $('#document_file').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 100) {
      alert('Maximum file size is 100MB. Please choose a smaller file.');
    }
  });
</script>
