<h1>Editing Document</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@document, html: { multipart: true }) do |f| %>
      <%= render 'fields', f: f %>
    <% end %>
  </div>
</div>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', document_store_path(@document.document_store) %>
