<h1>Listing Documents</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Document store</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.document_store.name %></td>
        <td><%= document.name %></td>
        <td><%= document.description %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%#= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_store_document_path %>
