<h1>Add Document</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= simple_form_for([@document.document_store, @document], html: { multipart: true }) do |f| %>
      <%= render 'fields', f: f %>
    <% end %>

  </div>
</div>

<%= link_to 'Back', document_store_documents_path(@document_store) %>
