<p>
  <strong>Document store:</strong>
  <%= @document.document_store.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', document_store_documents_path(@document.document_store) %>
