<p>
  <strong>Document store:</strong>
  <%= @document.document_store.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>

<p>
  <strong>Preview:</strong>
</p>
<div id="preview">
  <h3><a href="#" id="btnRange">Display Range</a> |
    <a href="#" id="btnMark">Mark Range</a></h3>
  <%# file_path = @document.file.file.file[0..-5] + "-html.html" %>
  <%
    file_path = @document.file.to_s
    dirname = File.dirname(file_path)
    basename = File.basename(file_path, ".pdf")
    html_path = File.join(Rails.public_path, dirname, basename) + ".html"
  %>
  <%= render file: html_path %>
</div>

<!-- %= link_to 'Edit', edit_document_path(@document) %> | -->
<%= link_to 'Back', document_store_documents_path(@document.document_store) %>
