// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview {
  border: dotted orange;
  border-width: 10px;
}

#page-container {
  position: relative !important;
}

#sidebar {
  display: none;
}

mark {
  background-color: yellow;
}
