<%= render 'shared/error_messages', object: f.object %>

<div class="form-inputs">
  <!-- The association below should be scoped to perhaps a team? -->
  <%= f.association :user, collection: User.where(id: @document_store.user.id) %>
  <%= f.input :name, label: 'Document Store Name' %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-primary' %>
</div>
