<h1>Listing Document Stores</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Document Store</th>
      <th>Access Token</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_stores.each do |document_store| %>
      <tr>
        <td><%= document_store.user.name %></td>
        <td><%= link_to "#{document_store.name}", document_store %></td>
        <td><%= document_store.access_token %></td>
        <td><%= link_to 'Edit', edit_document_store_path(document_store) %></td>
        <td><%= link_to 'Delete', document_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Document store', new_user_document_store_path(@user.id) %>
