<h1>New Document Store</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= simple_form_for([@document_store.user, @document_store]) do |f| %>
      <%= render 'fields', f: f %>
    <% end %>

  </div>
</div>

<%= link_to 'Back', user_document_stores_path(@document_store.user) %>
