<p>
  <strong>User:</strong>
  <%= @document_store.user.name %>
</p>

<p>
  <strong>Document Store Name:</strong>
  <%= @document_store.name %>
</p>

<p>
  <strong>Document List:</strong>

  <% if @documents.present? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Document name</th>
          <th>Document description</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td><%= link_to document.name, document %></td>
            <td><%= document.description %></td>
            <td><%= link_to "Edit", edit_document_path(document) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <em>No documents found.</em>
  <% end %>

  <%= link_to document_store_documents_path(@document_store) do %>
    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Manage Documents
    </button>
  <% end %>
</p>

<%= link_to 'Edit', edit_document_store_path(@document_store) %> |
<%= link_to 'Back', user_document_stores_path(@document_store.user) %>
