    <footer class="footer">
      <small>
        The <a href="http://daa.infalliblekitty.com/">Data Abstraction Assistant</a>
        by <a href="http://www.cebm.brown.edu/">CEBM Brown</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://www.cebm.brown.edu/">News</a></li>
        </ul>
      </nav>
    </footer>

